# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
*.egg-info/
.eggs/
.cache/
*.log

# Virtual environments
venv/
env/
ENV/
.venv/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg

# PyInstaller
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# dotenv
.env
.env.*

# macOS
.DS_Store

# VSCode
.vscode/

# Docker files
docker-compose.override.yml

# Others
*.sqlite3
instance/

.gcs_cache/
envitron-c19b6383d8a6.json